# requirements.txt

boto3==1.24.92
Flask==2.2.2
Flask-Cors==3.0.10
werkzeug==2.2.2
pymongo==4.2.0
dnspython==2.2.1

Flask-APScheduler==1.12.4
# used for data name and email generation
Faker==15.1.1

## test
haversine